<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Предобработка-данных:" data-toc-modified-id="Предобработка-данных:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Предобработка данных:</a></span></li></ul></div>

# Банки — Анализ оттока клиентов

`Заказчик:` Отдел маркетинга.
    
`Для кого?:` Информация нужна менеджеру, который занимается маркетиновыми кампаниями и
работает в тесной связке с менеджерами продуктов.

`Что хотят получить:` Максимально эффективно выделить сегменты отточных клиентов, чтобы они были
однородными, высокоотточными и покрывали максимум проблемных зон банка. Таким образом, маркетинговое
воздействие на эти сегменты должно привести к уменьшению

`Почему возникла потребность проводить исследования?:` В банке последнее время драматически повысился
отток, это начинает становиться проблемой, которая угрожает существованию банка.

`Проводили ли ранее такие исследования?:` Раньше проводилось исследование, но оно устарело и по нему сейчас
не ясно, в чём сейчас заключается проблема и как её можно решать. Состав клиентов банка изменился и старые
сегменты больше не подходят.

    Данные
- userid — идентификатор пользователя,
- score — баллы кредитного скоринга,
- city — город,
- gender — пол,
- age — возраст,
- equity — приблизительная оценка собственности клиента,
- balance — баланс на счёте,
- products — количество продуктов, которыми пользуется клиент,
- credit_card — есть ли кредитная карта,
- last_activity — был ли клиент активен последнее время,
- est_salary — оценочная заработная плата клиента
- churn — уходит или нет

Анализ оттока клиентов:

`1. Загрузка данных и подготовка к исследованию`

    - Анализ пропусков
    - Прверка/удаление дубликатов
    - Приветение форматов ячеек к необходимым
    - Приведение к змеиному стилю название колонок

`2. Исследовательский анализ данных`

    - сравнение портретов типичных клиентов (средние и медианы);
    - распределения непрерывных, в т.ч. в разрезе оттока;
    - уровни оттока по категориям; • корреляционный анализ

`3. Проверка статистических гипотез`

`4. Промежуточный итог:` Ответ на поврос: Какие показатели стратегически влияют на отток
(какие признаки стратегическим образом влияют на отток и какие значения или
интервалы этих признаков связаны с оттоком)

`5. Сегментация на основе стратегических показателей`
(Выделить не мелкие, но компактные высокоотточные сегменты, посчитать размер и
отток сегментов, приоритизировать их)

`6. Выводы и рекомендации для заказчика`

## Предобработка данных:

In [1]:
#Импорт библиотек
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
from scipy import stats as st

In [2]:
df= pd.read_csv('https://code.s3.yandex.net/datasets/bank_scrooge.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   USERID         10000 non-null  int64
 1   score          10000 non-null  float64
 2   city           10000 non-null  object
 3   gender         10000 non-null  object
 4   age            9974 non-null   float64
 5   equity         10000 non-null  int64
 6   balance        7705 non-null   float64
 7   products       10000 non-null  int64
 8   credit_card    10000 non-null  int64
 9   last_activity  10000 non-null  int64
 10  EST_SALARY     10000 non-null  float64
 11  churn          10000 non-null  int64
dtypes: float64(4), int64(6), object(2)
memory usage: 937.6+ KB

In [4]:
pd.DataFrame(round(df.isna().mean() * 100,)).style.background_gradient('coolwarm')

In [5]:
df.describe()

,USERID,score,age,equity,balance,products,credit_card,last_activity,EST_SALARY,churn
count,10000.00000,10000.000000,9974.000000,10000.000000,7.705000e+03,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000
mean,171814.71260,848.699400,42.734409,2.627600,8.277943e+05,1.870100,0.680400,0.523500,1.478669e+05,0.182000
std,33708.23812,65.448519,12.179971,1.980836,1.980614e+06,0.792647,0.466345,0.499472,1.393885e+05,0.385864
min,94561.00000,642.000000,18.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,2.546300e+03,0.000000
25%,142810.25000,802.000000,33.000000,0.000000,2.955542e+05,1.000000,0.000000,0.000000,7.525190e+04,0.000000
50%,172728.00000,853.000000,40.000000,3.000000,5.242722e+05,2.000000,1.000000,1.000000,1.196581e+05,0.000000
75%,201261.75000,900.000000,51.000000,4.000000,9.807058e+05,2.000000,1.000000,1.000000,1.745005e+05,0.000000
max,229145.00000,1000.000000,86.000000,9.000000,1.191136e+08,5.000000,1.000000,1.000000,1.395064e+06,1.000000